<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>I think you may be lost ⛔⛔⛔⛔</h1>
    <h4>Try</h4>
    <ul>
        <a href="/dashboard">dashboard</a>
        <br>
        <a href="/first">First</a>
    </ul>
</body>
</html>